################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IHIS-BE-V1/IHIS-BE-V1/bin/Debug/net6.0
/IHIS-BE-V1/IHIS-BE-V1/obj
